-menu = ['Home', 'Courses', 'Internships', 'TEFL Jobs', 'Why TEFL', 'About', 'Giving Back', 'Offers', 'Blog'];

nav.nav-bar
	.nav-bar__heading
		.row.container.margin-bottom
			.col.l3.m3.s3
				a.nav-bar__logo(href=jv0)
					img(src="assets/images/brand.png", alt="brand")
			.col.l3.m3.s3.offset-s6.offset-m6.offset-l6
				ul.nav-bar__social
					li.nav-bar__social-item
						a.nav-bar__social-link.nav-bar__social-link_bg_blue(href=jv0)
							.nav-bar__social-call
					li.nav-bar__social-item
						a.nav-bar__social-link(href=jv0)
							.nav-bar__social-googlePl
					li.nav-bar__social-item
						a.nav-bar__social-link(href=jv0)
							.nav-bar__social-instagram
					li.nav-bar__social-item
						a.nav-bar__social-link(href=jv0)
							.nav-bar__social-twitter
					li.nav-bar__social-item
						a.nav-bar__social-link(href=jv0)
							.nav-bar__social-facebook
	.nav-bar__menu
		.row.margin-bottom.container
			.col.l10.m10.s10
				ul.nav-bar__menu-list
					each item, i in menu
						li.nav-bar__menu-item
							a(class=i === 1 ? "nav-bar__menu-link nav-bar__menu-link_active" : "nav-bar__menu-link", href=jv0)
								= item
			.col.l2.m2.s2
				.nav-bar__login
					a.nav-bar__login-btn(href=jv0)
						| Login


