- menuArray = [{menu: 'Home'}, {menu: 'Courses', submenu: ['Online Courses', 'Onsite Courses']}, {menu: 'Internships', submenu: ['Teach in China', 'Teach in Thailand', 'Teach in Africa', 'Teach in Argentina']}, {menu: 'TEFL Jobs', submenu: ['China', 'Colombia', 'Korea', 'Thailand', 'Taiwan', 'Online']}, {menu: 'Why TEFL', submenu: ['Why MyTEFL?', 'Destinations']}, {menu: 'About', submenu: ['FAQs', 'Accreditation']}, {menu: 'Giving Back'}, {menu: 'Offers'}, {menu: 'Blog'}];

nav.nav-bar(class=navbar_position_absolute === true ? "nav-bar_position_absolute" : "")
	.nav-bar__heading
		.row.container.margin-bottom
			.col.l4.m6.s6
				a.nav-bar__logo(href=jv0)
					img(src="assets/images/brand.png", alt="brand")

			.col.l3.offset-l5.hide-on-med-and-down
				ul.nav-bar__social
					li.nav-bar__social-item
						a.nav-bar__social-link.nav-bar__social-link_bg_blue(href=jv0)
							.nav-bar__social-call
					li.nav-bar__social-item
						a.nav-bar__social-link(href=jv0)
							if whiteIcons
								.nav-bar__social-googlePl_white
							else
								.nav-bar__social-googlePl
					li.nav-bar__social-item
						a.nav-bar__social-link(href=jv0)
							if whiteIcons
								.nav-bar__social-instagram_white
							else
								.nav-bar__social-instagram
					li.nav-bar__social-item
						a.nav-bar__social-link(href=jv0)
							if whiteIcons
								.nav-bar__social-twitter_white
							else
								.nav-bar__social-twitter
					li.nav-bar__social-item
						a.nav-bar__social-link(href=jv0)
							if whiteIcons
								.nav-bar__social-facebook_white
							else
								.nav-bar__social-facebook

			.col.m6.s6.hide-on-large-only
				.nav-bar__menu_mobile
					.nav-bar__login
						a.nav-bar__login-btn.button-st1.orange(href=jv0)
							| Login

					i(class="fa fa-bars nav-bar__menu_mobile-icon" aria-hidden="true")
					

	.nav-bar__menu.hide-on-med-and-down
		.row.margin-bottom.container
			.col.l10.m10.s10
				ul.nav-bar__menu-list
					each item, i in menuArray 
						li.nav-bar__menu-item
							a(class=i === 1 ? "nav-bar__menu-link nav-bar__menu-link_active" : "nav-bar__menu-link", href=jv0)
								= item.menu

							if item.submenu
								ul.nav-bar__submenu
									each elem, i in item.submenu
										li.nav-bar__submenu-item
											a(class=i === 1 ? "nav-bar__submenu-link nav-bar__submenu-link_active" : "nav-bar__submenu-link", href=jv0)
												=elem

			.col.l2.m2.s2
				.nav-bar__login
					a.nav-bar__login-btn.button-st1.orange(href=jv0)
						| Login


