- menuArray = [{menu: 'Home'}, {menu: 'Courses', submenu: ['Online Courses', 'Onsite Courses']}, {menu: 'Internships', submenu: ['Teach in China', 'Teach in Thailand', 'Teach in Africa', 'Teach in Argentina']}, {menu: 'TEFL Jobs', submenu: ['China', 'Colombia', 'Korea', 'Thailand', 'Taiwan', 'Online']}, {menu: 'Why TEFL', submenu: ['Why MyTEFL?', 'Destinations']}, {menu: 'About', submenu: ['FAQs', 'Accreditation']}, {menu: 'Giving Back'}, {menu: 'Offers'}, {menu: 'Blog'}];

nav.nav-bar.js-nav-bar(class=navbar_position_absolute === true ? "nav-bar_position_absolute" : "")
	.nav-bar__heading
		.row.container.margin-bottom
			.col.l4.m6.s6
				a.nav-bar__logo(href=jv0)
					img(src="assets/images/brand.png", alt="brand")

			.col.l3.offset-l5.hide-on-med-and-down
				ul.nav-bar__social
					li.nav-bar__social-item
						a.nav-bar__social-link(class=whiteIcons === true ? "white" : ''  href=jv0)
							i.fa.fa-phone.nav-bar__social-icon(class=whiteIcons === true ? "white" : '' aria-hidden="true")
					li.nav-bar__social-item
						a.nav-bar__social-link(class=whiteIcons === true ? "white" : ''  href=jv0)
							i.fa.fa-google-plus.nav-bar__social-icon(class=whiteIcons === true ? "white" : '' aria-hidden="true")
					li.nav-bar__social-item
						a.nav-bar__social-link(class=whiteIcons === true ? "white" : ''  href=jv0)
							i.fa.fa-instagram.nav-bar__social-icon(class=whiteIcons === true ? "white" : '' aria-hidden="true")
					li.nav-bar__social-item
						a.nav-bar__social-link(class=whiteIcons === true ? "white" : ''  href=jv0)
							i.fa.fa-twitter.nav-bar__social-icon(class=whiteIcons === true ? "white" : '' aria-hidden="true")
					li.nav-bar__social-item
						a.nav-bar__social-link(class=whiteIcons === true ? "white" : ''  href=jv0)
							i.fa.fa-facebook.nav-bar__social-icon(class=whiteIcons === true ? "white" : '' aria-hidden="true")
										
			//- Adaptive menu block
			.col.m6.s6.hide-on-large-only
				.nav-bar__menu_mobile
					.nav-bar__login
						a.nav-bar__login-btn.button-st1.orange(href=jv0)
							| Login

					i(class="fa fa-bars nav-bar__menu_mobile-icon js-nav-bar-menu-mobile-icon" aria-hidden="true")

				//- Adaptive menu items
				ul.nav-bar__menu-list_mobile.js-nav-bar-menu-list-mobile
					each item, i in menuArray 
						li(class=i === 1 ? "nav-bar__menu-item_mobile active" : "nav-bar__menu-item_mobile")
							a(class=i === 1 ? "nav-bar__menu-link_mobile active" : "nav-bar__menu-link_mobile", href=jv0)
								= item.menu

							if item.submenu
								ul.nav-bar__submenu_mobile
									each elem, k in item.submenu
										li.nav-bar__submenu-item_mobile
											if i === 0
												a(class=k === 1 ? "nav-bar__submenu-link_mobile active" : "nav-bar__submenu-link_mobile", href=jv0)
													=elem
											else
												a(class="nav-bar__submenu-link_mobile", href=jv0)
													=elem
					

	.nav-bar__menu.hide-on-med-and-down
		.row.margin-bottom.container
			.col.l10.m10.s10
				ul.nav-bar__menu-list
					each item, i in menuArray 
						li.nav-bar__menu-item
							a(class=i === 1 ? "nav-bar__menu-link nav-bar__menu-link_active" : "nav-bar__menu-link", href=jv0)
								= item.menu

							if item.submenu
								ul.nav-bar__submenu
									each elem, i in item.submenu
										li.nav-bar__submenu-item
											a(class=i === 1 ? "nav-bar__submenu-link nav-bar__submenu-link_active" : "nav-bar__submenu-link", href=jv0)
												=elem

			.col.l2.m2.s2
				.nav-bar__login
					a.nav-bar__login-btn.button-st1.orange(href=jv0)
						| Login


