.b-prise
	.container
		.b-prise__title.mt-50.mb-30
			span.b-prise__title-text Choose your course 
				a.b-prise__title-btn(href=jv0) &#38; Get discount
		
		.b-prise__table
			.row
				.col.l3.m3.s12
					.b-prise__item
						.b-prise__item-title.pt-40.pb-40 Basic
						.b-prise__item-content
							img.b-prise__item-img(src="assets/images/prise/basic.png", alt="img")
							.b-prise__item-text $169 USD
							.b-prise__item-hours 40 HOURS
						.b-prise__item-descript
							| Fundamental Classroom Management
						.b-prise__item-footer
							a.b-prise__item-btn(href=jv0) Get now!

				.col.l3.m3.s12
					.b-prise__item
						.b-prise__item-title.pt-40.pb-40 Standart
						.b-prise__item-content
							img.b-prise__item-img(src="assets/images/prise/standart.png", alt="img")
							.b-prise__item-text_yellow $229 USD
							.b-prise__item-hours_green 60 HOURS
						.b-prise__item-descript
							| Teaching Techniques &#38; Methods
						.b-prise__item-footer
							a.b-prise__item-btn_white(href=jv0) Get now!

				.col.l3.m3.s12
					.b-prise__item
						.b-prise__item-title.pt-40.pb-40 Advanced
						.b-prise__item-content
							img.b-prise__item-img(src="assets/images/prise/advanced.png", alt="img")
							.b-prise__item-text $229 USD
							.b-prise__item-hours 80 HOURS
						.b-prise__item-descript
							| Advanced Approaches &#38; Grammar
						.b-prise__item-footer
							a.b-prise__item-btn(href=jv0) Get now!

				.col.l3.m3.s12
					.b-prise__item
						.b-prise__item-title_orange.pt-40.pb-40 Professional
						.b-prise__item-content.pt-0
							.b-prise__item-text_before Most popular!!!
							img.b-prise__item-img(src="assets/images/prise/professional.png", alt="img")
							.b-prise__item-text_orange $399 USD
							.b-prise__item-hours 120 HOURS
						.b-prise__item-descript_orange
							| Advanced Approaches &#38; Grammar
						.b-prise__item-footer_orange
							a.b-prise__item-btn_white-transparent(href=jv0) Get now!







