.prise-extend
	//- .prise-extend__heading
	//- 	.prise-extend__heading-wrapper
	//- 		-heading = [{text: 'Testers', img: 'testers.png'}, {text: 'Refresher', img: 'refresher.png'}, {text: 'upgrade', img: 'upgrade.png'}, {text: 'Best value', img: 'best-value.png'}]
	//- 		each item in heading
	//- 			.prise-extend__heading-item.uppercase
	//- 				img(src="assets/images/prise-extend/"+ item.img, alt="img")
	//- 				span
	//- 					=item.text

	.prise-extend__table.mb-20.clear
		.prise-extend__table-item.side-bar

			.prise-extend__table-heading.uppercase
				span.first-line It's time to #[br]
				span.second-line Choose #[br]
				span.third-line Your Course

			ul.prise-extend__list._content
				-list = [{text: '24/7 Tutor Support', icon: 'fa-life-ring'}, {text: 'Tech Support', icon: 'fa-cogs'}, {text: 'Full Library Access', icon: 'fa fa-book'}, {text: 'Skills Based Units', icon: 'fa-user-plus'}, {text: 'Intensive Grammar Units', icon: 'fa-font'}, {text: 'Comprehensive Phonology', icon: 'fa-bold'}, {text: 'Curriculum Development', icon: 'fa-level-up'}, {text: 'Designing Testing Systems', icon: 'fa-pencil-square-o'}, {text: 'Popularity', icon: 'fa-star'}]
				each elem in list
					li.prise-extend__list-item
						//- img(src="assets/images/prise-extend/"+ elem.img alt="img")
						i.fa(class=elem.icon)
						span
							=elem.text

			.prise-extend__footer
				ul.prise-extend__list._footer
					li.prise-extend__list-item
						i(class="fa fa-hand-o-right" aria-hidden="true")
						span Talk to a TEFL Expert
					li.prise-extend__list-item
						i(class="fa fa-hand-o-right" aria-hidden="true")
						span Our special offers
					
					li.prise-extend__list-item
						i(class="fa fa-hand-o-right" aria-hidden="true")
						span FAQs

		//- Basic prise
		.prise-extend__table-item
			.prise-extend__table-title.uppercase
				img(src="assets/images/prise-extend/testers.png", alt="img")
				span Testers

			.prise-extend__table-heading.uppercase
				.first(style="margin-left:3px")
					span Basic #[br]
					span 40 Hour
				.second(style="margin-left:3px")
					| Fundamental Classroom #[br] Management

			ul.prise-extend__list._content
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green
					i.fa.fa-star 
					i.fa.fa-star

			.prise-extend__table-footer
				.first.uppercase(style="margin-left:3px")
					span $169 USD #[br]
					span $225 USD
				a.second.uppercase(href=jv0, style="margin-left:3px") More info
		
		//- Standart prise
		.prise-extend__table-item
			.prise-extend__table-title.uppercase
				img(src="assets/images/prise-extend/refresher.png", alt="img")
				span Refresher

			.prise-extend__table-heading.uppercase
				.first
					span Standart #[br]
					span 60 Hour
				.second
					| Teaching Techniques #[br] & Methods

			ul.prise-extend__list._content
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green
					i.fa.fa-star 
					i.fa.fa-star
					i.fa.fa-star

			.prise-extend__table-footer
				.first.uppercase
					span $229 USD #[br]
					span $225 USD
				a.second.uppercase(href=jv0) More info

		//- Advanced prise
		.prise-extend__table-item
			.prise-extend__table-title.uppercase
				img(src="assets/images/prise-extend/upgrade.png", alt="img")
				span Upgrade

			.prise-extend__table-heading.uppercase
				.first
					span Advanced  #[br]
					span 80 Hour
				.second
					| Advanced Approaches #[br] & Grammar

			ul.prise-extend__list._content
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green 
				li.prise-extend__list-item.text-center.text-green
					i.fa.fa-star 
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star

			.prise-extend__table-footer
				.first.uppercase
					span $229 USD #[br]
					span $225 USD
				a.second.uppercase(href=jv0) More info

		//- Professional prise
		.prise-extend__table-item.accent
			.prise-extend__table-title.uppercase
				img(src="assets/images/prise-extend/best-value.png", alt="img")
				span Best value

			.prise-extend__table-heading.uppercase
				.first
					span Professional #[br]
					span 120 Hour
					img(src="assets/images/prise-extend/reward.png", alt="img")
				.second
					| Master TEFL #[br] Expert Teacher

			ul.prise-extend__list._content
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green.padding-none
					i.fa.fa-check.circle
				li.prise-extend__list-item.text-center.text-green
					i.fa.fa-star 
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star

			.prise-extend__table-footer
				.first.uppercase
					span $399 USD #[br]
					span $225 USD
				a.second.uppercase(href=jv0) More info



