extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'My TEFL';
	- navbar_position_absolute = false;
	- whiteIcons = false;
	- footerSubBtn = false;

block content
	include ../blocks/nav-bar/nav-bar

	.container
			.row.mt-100.mb-40
				.col.l12
					.page-title-wrapper(style="background-image:url(assets/images/registration-internships-1/enroll.png)")
						h2.page-title.uppercase Enroll
				
				.col.l12
					form(id="reg-form", class="b-reg", method="post", action="/reg.action")
						
						//- Personal information
						.blog-item_border_blue.mb-20
							.title-st-2.mt-20.mb-30(style="color:#555555;") Personal information

							.b-reg__container
								.b-reg__item
									.b-input
										.b-input__label.mb-10 First name #[span.text-orange *]
										input.b-input__input_width-full(type="text", placeholder="John" required)

									.b-input
										.b-input__label.mb-10 Gender #[span.text-orange *]
										select.b-input__select_width-full(name="gender")
											option Select gender
											option(value="male") Male
											option(value="female") Female

								.b-reg__item
									.b-input
										.b-input__label.mb-10 Last name #[span.text-orange *]
										input.b-input__select_width-full(type="text", placeholder="Doe" required)
									
									//- Month input
									.b-input
										.b-input__label.mb-10 Date of Birth
										.b-input__wrapper
											select.b-input__select(name="date")
												option Month
												- monthes = ['January', 'Fabruary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
												each item in monthes
													option(value=item)
														=item

											select.b-input__select(name="day")
												option Day
												- days = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']
												each item in days
													option(value=item)
														=item

											select.b-input__select(name="day")
												option Year
												- years = ['2000', '2001', '2002']
												each item in years
													option(value=item)
														=item

								.b-reg__item
									.b-input
										.b-input__label.mb-10 E-mail #[span.text-orange *]
										input.b-input__select_width-full(type="e-mail", placeholder="my_email_adress@mailagent.com" required)

									.b-input
										.b-input__label.mb-10 Phone
										input.b-input__select_width-full(type="tel", placeholder="+7 700 809 90 90")

						//- Adress
						.blog-item_border_blue.mb-20
							.title-st-2.mt-20.mb-30(style="color:#555555;") Adress

							.b-reg__container
								.b-reg__item
									.b-input
										.b-input__label.mb-10 Unit #:
										input.b-input__select_width-full(type="text" required)

									.b-input
										.b-input__label.mb-10 Country #[span.text-orange *]
										input.b-input__select_width-full(type="text")

								.b-reg__item
									.b-input
										.b-input__label.mb-10 Adress: #[span.text-orange *]
										input.b-input__select_width-full(type="text" required)

									.b-input
										.b-input__label.mb-10 State: #[span.text-orange *]
										input.b-input__select_width-full(type="text")

								.b-reg__item
									.b-input
										.b-input__label.mb-10 City: #[span.text-orange *]
										input.b-input__select_width-full(type="text" required)

									.b-input
										.b-input__label.mb-10 Postal Code: #[span.text-orange *]
										input.b-input__select_width-full(type="text")


						//- Others
						.blog-item_border_blue.mb-20
							.title-st-2.mt-20.mb-30(style="color:#555555;") Others

							.b-reg__container
								.b-reg__item
									.b-input
										.b-input__label.mb-10 Preferred Teaching Destinations
										select.b-input__select_width-full(name="country")
												option Select country
												- contries = ['Argentina', 'Albania', 'China']
												each item in monthes
													option(value=item)
														=item

								.b-reg__item
									.b-input(style="margin-top:28px;")
										select.b-input__select_width-full(name="country")
												option Select country
												- contries = ['Argentina', 'Albania', 'China']
												each item in contries
													option(value=item)
														=item

								.b-reg__item
									.b-input
										.b-input__label.mb-10 Highest Level of Education 
										select.b-input__select_width-full(name="education")
												option Select Level of Education
												- education = ['Primary education', 'Primary education', 'Primary education']
												each item in education
													option(value=item)
														=item

							.b-input
								.b-input__label.mb-10 What prompted you to enroll in a TEFL Course? 
								textarea.b-input__textarea

							.b-input
								.b-input__label.mb-10 What was the deciding factor in choosing myTEFL?
								textarea.b-input__textarea
						
						//- Course description
						.blog-item_border_blue.mb-20.pb-50

							.b-reg__container
								.b-reg__item
									.title-st-2.mt-20.mb-30.text-black Course description
									img(src="assets/images/registration-internships-1/img-1.png" alt="img")

									.title-st-2.text-accent.mt-20 Comprehensive
									.page-slog.text-black 120 hors

									p.mt-30 Comprehensive Course that covers everything you need to Master the art of TEFL.

								.b-reg__item.modules-1
									.title-st-2.mt-20.mb-30.text-black Modules
									ul.list-st1.content-p
										li Introduction to EFL
										li Effective Classroom Management
										li Language Systems
										li Teaching Speaking
										li Teaching Listening
										li Teaching Reading
										li Teaching Writing
										li Teaching Materials & Aids
										li Smart Curriculum Planning
								
								.b-reg__item.modules-2
									.title-st-2.mt-20.mb-30.text-black Modules
									ul.list-st1.content-p.checked
										li Tutor assistance
										li Lesson Plans
										li Supplementary Materials
										li Jobs Guidance
										li Internationally Accredited
										li Technical Support
										li Teaching Skills Units
										li Grammar Unit
										li Phonology Section

						.blog-item_border_blue.mb-20.pb-50
							.title-st-2.mt-20.mb-30.text-black Name and Billing Summary
							
							.row.mb-0
								.col.l2
									span Name
									span Billing Address
									span Email Address
								.col.l5
									span.text-main-color Dmitry Lombav
									span.text-main-color Odessa Ykrqaine Udsdfasf nostate Albania 00023893
									span.text-main-color sprudo@gmail.com
								.col.l2
									span Delivery Method
									span Due Now
									span Total Price
								.col.l3
									span.text-main-color Online
									span.text-accent $345.00 USD
									span.text-accent $1380 USD
						
						.row.mb-0
							.col.l7
								.b-program-total__block-second.inline
									.b-program-total__text-before I have an additional discount code:
									input.b-program-total__input(type="text" placeholder="Paste URL here")
									.b-program-total__btn.uppercase.text-center Submit

							.col.l5.push-l1
								div(style="padding-top:25px;")
									input(id="different_billings" type="checkbox" name="ship_to_different_billings" value="1" class="checkbox_enroll" style="margin-right:10px")
									label(for="different_billings" style="font-weight:700;") Different Billing Address

						.divider

						.row
							.col.l6
								.title-st-2.mt-20.mb-30.text-black(style="margin-left:24px;") Payment information

								.payment
									p.payment__paragraph.mb-30
										span.payment__text Due Now:
										span.payment__text.text-accent $345.00 USD

									p.payment__paragraph.mb-60
										span.payment__text Due 30 days before departure date:
										span.payment__text.text-green $1035 USD

									p.payment__paragraph
										span.payment__price.text-accent $345 USD

							.col.l6
								.title-st-2.mt-20.mb-30.text-black(style="margin-left:20px;") Secure credit card payment

								.b-credit
									.b-input
										.b-input__label.mb-10.uppercase Card number *
										input.b-input__select_width-full(type="text" placeholder="Enter Card Number" required)
										i.fa.fa-credit-card-alt(aria-hidden="true")

									.b-reg__container
										.b-input
											.b-input__label.mb-10.uppercase Expiration date *
											.b-input__wrapper
												select.b-input__select(name="mm")
													option MM
													- MM = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
													each item in MM
														option(value=item)
															=item

												select.b-input__select(name="yy")
													option YY
													- YY = ['2017', '2018', '2019', '2020', '2021']
													each item in YY
														option(value=item)
															=item
										.b-input
											.b-input__label.mb-10.uppercase Security Code *
											.b-input__wrapper
												input.b-input__input(type="text" placeholder="CVV" required style="width:175px;")
												i.fa.fa-question-circle(aria-hidden="true")

									.b-input
										.b-input__label.mb-10.uppercase Name on Card *
										input.b-input__select_width-full(type="text" required)

									img.b-credit__right(src="assets/images/registration-internships-1/credit-img-right.png" alt="img")
									img.b-credit__bottom(src="assets/images/registration-internships-1/credit-img-bottom.png" alt="img")


								p.uppercase.mt-50.text-right SSL ENCRYPTED. TESTED. CERTIFIED. 

						
						.divider

						.row.mb-60
							.col.l12.text-center.mt-50.mb-50
								a.button-st1.uppercase.alt.text-orange(href="#" style="width:330px;") Enroll now

							.col.l12.text-center
								p.mb-40(style="line-height:1.8;") Start your course right away! Upon successful checkout, you will receive an email with payment confirmation along with your login details and helpful tips on completing your MyTEFL course!

							.col.l12.text-center.mb-30
								input(id="privacy" type="checkbox" name="ship_to_privacy" value="1" class="checkbox_enroll" style="margin-right:10px")
								label.mb-30(for="privacy" style="font-weight:700;") By clicking "Enroll Now" you accept our #[a.text-main-color(href=jv0) Privacy Policy.]

							.col.l12.text-center
								input(id="terms" type="checkbox" name="ship_to_terms" value="1" class="checkbox_enroll" style="margin-right:10px")
								label(for="terms" style="font-weight:700;") I have read and agree with the #[a.text-main-color(href=jv0) Terms & Conditions.]

						
						.blog-item_border_blue.mb-20.pb-20
							.title-st-2.mt-20.mb-0.text-black Thank you for helping us improve lives
							.title-st-2.mb-60.text-black(style="font-weight:normal;") When you enroll in one of our courses, myTEFL makes a donation to one of our partner charities.

							.row
								.col.l6
									img.block-center(src='assets/images/giving-back-page/giving-back-4.png')
								.col.l6
									img.block-center(src='assets/images/giving-back-page/giving-back-5.png')

	include ../blocks/footer/footer












