mixin article(data)
	-data = data || [];
		each elem in data
			.col.l6.m6.s12
				article.article
					.article__title(class=elem.titleModClass ? "article__title_"+elem.titleModClass+"" : "")
						|#{elem.title}
						if elem.titleIcon
							img.article__title-icon(src=elem.titleIcon, alt="img")
								
					each item in elem.items
						.article__item(style=item.style ? item.style : "")
							.article__item-avatar
								img(src=item.img, alt="img")
							.article__content
								.article__item-title
									|#{item.title}
								.article__item-text
									|#{item.text}