mixin banner(opt)
	-opt = opt || {};
		.banner
			img.banner__img(src=opt.imgSrc, alt="banner")
			.banner__container(class=opt.banner_mode_class ? "banner__container" + opt.banner_mode_class : "")

				if opt.bannerBeforeText
					.banner__text-before
						span
							=opt.bannerBeforeText.lineFist
						br
						span
							=opt.bannerBeforeText.lineSecond

				h3.banner__title
					=opt.bannerTitle
					if opt.bannerTitleSecondLine
						br
						=opt.bannerTitleSecondLine
				if opt.bannerSubTitle
					h5.banner__subtitle
						=opt.bannerSubTitle

				if opt.bannerText || opt.bannerText2
					h6.banner__text(class=opt.banner_text_class ? "banner__text" + opt.banner_text_class : "")
						=opt.bannerText
						|<br>
						=opt.bannerText2
				.banner__footer
					if opt.btn
						a.banner__footer-btn.button-st1.orange.uppercase(href=jv0)
							=opt.btn
					if opt.calendar
						.banner__footer-calendar
							each item in opt.calendar
								.banner__footer-calendar-item
									.banner__footer-calendar-integer
										=item.integer
									.banner__footer-calendar-text
										=item.text

			.banner__footer-btn_down(class=opt.btn_down_mod_class ? "banner__footer-btn" + opt.btn_down_mod_class : "")
			
			if opt.bannerSearch
				.row.margin-bottom.banner__search
					.col.l6.m6.s12
						.banner__search-blue
							.banner__search-content
								span.banner__search-title Get started!
								input.banner__search-input(type="text", placeholder="Search courses...")
								.banner__search-btn
					.col.l6.m6.s12
						.banner__search-yellow
							.banner__search-content
								span.banner__search-title Get started!
								input.banner__search-input(type="text", placeholder="See where myTEFL takes you...")
								.banner__search-btn
					


	